.content11{
    background-color: #2a2e31;
    height: 90vh;
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
     color: white;
    position: relative;
}

.con11{
     text-align: center;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.con11 h6{
    
    font-size: 20px;
    font-weight: 200;
    
}

.con11 .line{

    margin: 20px auto;
    height: 2px;
    background-color: white;
    width: 90px;
}

.con11 h1{

    margin: 30px 0;
    font-size: 80px;
    text-transform: uppercase;
}

.con11 h5{

    font-size: 20px;
    font-weight: 200;
    width: 60%;
    margin: 30px auto;

}

.con11 .form button{
    padding: 8px 9px;
    width: 100%;
    font-size: 20px;
}

.form11{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 84%;


}

.form12{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.form13{
    width: 90%;
    display: flex;
    flex-direction: column;
    
  
}

.form13 .grid{
    display: grid;
    width: 100%;
    gap: 20px;

}
.form13 .grid .data{
   
    display: flex;
    font-size: 20px;
    flex-direction: column;
    
}

.form13 .grid .data input{
    height: 40px;
    margin-top: 5px;
     background-color: #33393e;
    border-radius: 5px;
}

.form13 .data1{
    display: flex;
    font-size: 20px;
    margin: 20px 0;
    flex-direction: column;
   
}

.form13 .data1 input{
 
    height: 40px;
    margin-top: 5px;
    background-color: #33393e;
    border-radius: 5px;
}

.form13 button{
    height: 40px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #2a2e31;
}

.content11_1{
    height: 10vh;
    background-color: #222528;
}

.content11 img{
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 100px;
    animation: 10s slide linear infinite;
}

@keyframes slide {
    0%{
        transform: translate(0px);
    }
    100%{
        transform: translate(800px);
    }    
}



